html {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    height: -webkit-fill-available;
}

body {
    background-color: #f8f8ff;
    /* height: 100vh;
    height: -webkit-fill-available; */
    margin: 0;
}


nav {
    background-color: #c38d9e;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.1rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-link {
    color: #f8f8ff;
    padding: 5px 10px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #f8f8ff;
    color:  #c38d9e;
}

main {
    color: rgba(0, 0, 0, 75%);
    margin: 50px 10%;
    position: absolute;
    top: 0px;
}

p > a {
    color: #9a6f7c;
    cursor: pointer;
    text-decoration: none;
}

p > a:visited {
    text-decoration: none;
}

p > a:hover {
    background-color: #ddd;
}

.tableauPlaceholder {
    margin: 20px auto;
    border: 1px solid black;
}

.img-container {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    main {
        line-height: 1.75rem;
        margin: 50px 3%;
    }
}
