body {
  margin: 0; 
  background-color: #3a3a3c;
  height: 600px;
}

button {
  color: #222;
  touch-action: manipulation;
}

#gameboard, #keyboard {
  width: 375px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#gameboard {
  margin: 50px auto;
}

#keyboard {
  margin: auto;
}

.row {
  display: flex;
}

.tile {
  border: 1px solid #ddd;
  font-size: xx-large;
  color: #d7dadc;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  width: 44px;
  height: 44px;
  padding: 4px;
}

#keyboard-row-2 {
  padding-top: 2px;
}

.key {
  background-color: #ddd;
  border: 1px solid #222;
  border-radius: 2px;
  font-size: x-large;
  margin: 2px 1px;
  cursor: pointer;
  min-width: 24px;
  height: 50px;
  padding: 5px;
}

#enter {
  font-size: large;
}

.misplaced {
  background-color: #b59f3b;;
}

.correct {
  background-color: #538d4e;
}

.wrong {
  background-color: #222;
}

#winner-display {
  font-size: large;
  background-color: powderblue;
  border-radius: 5px;
  position: relative;
  top: -500px;
  width: 350px;
  height: 400px;
  margin: auto;
  text-align: center;
  visibility: hidden;
}

#close-winner-display {
  position: absolute;
  border: none;
  border-radius: 2px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: x-large;
}

#winner-display > h1 {
  padding-top: 25px;
}